@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 18px;
	/* sets the magin value to 0 which is no space around the border*/
	margin: 0;
	/* turns the body into a grid container*/
	display: grid;
	/*height for the grid template rows is set to auto and is determined by the content within it,
	1fr means the main content (middle row) wil take up the remaning space within the container once the rows are auto sized*/
	grid-template-rows: auto 1fr auto; /*Header, main content, footer*/
	grid-template-columns: 100%; /*full width for every row ; Header, main content, footer*/
	/* minimum height set for each row*/
	/* sets the full height of the viewport, vh means viewport height, setting it to max filles the size of the browser window.
	this will alwsys fill vertically and will size regardless of inside content, also stops footer from being too high up*/
	min-height: 100vh;
}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .05em;
	margin: 1.5rem auto;
	text-align: center;	
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
	/*aligns header #2 to the left in the sections*/
	text-align: left;
}

header {
	text-align: center;
	/*changes the background color of the header*/
	background-color: orange;
	/* adds padding to the header (space between the border and the content)*/
	padding: 10px
}

main {
/* added padding (space between border and content)*/
padding: 20px;
/*changes the background color of main to the color white*/
background-color: white;
}

/*side bar styling*/
aside {
	grid-column: 3; /*Right Column*/
	background-color: lightseagreen; /*changes color of background to light sea green*/
	padding: 10px; /*adds space between the content and the border*/
}

p {
	line-height: 140%;
	margin-bottom: 1em;
}

#intro {
	font-size: 22px;
}



#header-container {
	/*this creates the first row of the grid*/
	grid-row: 1;
	/*adds background color for the grid to be orange*/
	background-color: orange;
	/*aligns text to the center*/
	text-align: center;
	/*creates 10 px of space between the border and the content*/
	padding: 10px
}

/*added navigation for separation purposes*/
nav {
	grid-column: 1; /*creates the first row of the grid: the left column*/
	/*changes background color to the color light coral for nav*/
	background-color: lightcoral;
	/*adds space between the content and the border by 10px*/
	padding: 10px;

}


#main-container {
	/*creates the second row of the grid*/
	grid-row:2;
	/*turns into grid container*/
	display: grid;
	/*defines the column widths based on all values in percentage*/
	grid-template-columns: 20% 60% 20%;
	/* adds space between grid items*/
	gap: 10px;
	/* makes sure that the main content will fill the majority of the viewpoint hence the value 80*/
	min-width: 80vh;


}

/*moved footer container to the bottom*/
#footer-container {
	grid-row: 3; /*creates the last row of the grid*/
	/*changes footer background color to the color lightblue*/
	background-color: lightblue;
	/*aligns the text to the center of the page but remains at the bottom within the footer*/
	text-align: center;
	/* adds 10 pixels of padding to between the border and content of the footer*/
}

/*moved collection down did not add typography as it was not apart of the prompt*/
#automotive, #maritime, #medical, #physics, #myths {

}